body{
	margin:0;
	background: #333;
}
#title{
	position: absolute;
	width: 40%;
	height: 10%;
	top: 0;
	left: 30%;
	/*background: #666666;*/
	color:white;
	font-size:40px;

	display: flex;
	align-items: center;
	justify-content: center;
}


#l1{
	position: absolute;
	width: 50%;
	height: 45%;
	top: 10%;
	left: 0%;
	background: #666666;
}
#l2{
	position: absolute;
	width: 50%;
	height: 45%;
	top: 55%;
	left: 0%;
	background: #777777;
}
#r1{
	position: absolute;
	width: 50%;
	height: 45%;
	top: 10%;
	right: 0%;
	background: #777777;
}
#r2{
	position: absolute;
	width: 50%;
	height: 45%;
	top: 55%;
	right: 0%;
	background: #777777;
}
