<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>校园卡</title>
    <script src="../static/js/jquery-1.12.4.min.js"></script>
     <script src="../static/js/echarts.min.js"></script>
    <link href="../static/css/main.css" rel="stylesheet"/>
</head>
<body>
        <div id="title">校园卡数据显示</div>
		<div id="l1">我是左1</div>
		<div id="l2">我是左2</div>
        <div id="r1">我是右1</div>
        <div id="r2">我是右2</div>
        <script src="../static/js/ec_left1.js"></script>
        <script src="../static/js/ec_left2.js"></script>
        <script src="../static/js/ec_right1.js"></script>
        <script src="../static/js/ec_right2.js"></script>
        <script src="../static/js/controller.js"></script>

</body>
</html>